{% extends "main.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="assets/css/home.css">
{% endblock %}
{% block tabs %}
{{ super() }}
<section class="container">
	<div class="md-grid md-typeset">
		<div class="home">
			<div class="image">
				<img src="assets/images/illustration.jpg" draggable="false">
				<div class="shadow-overlap"></div>
			</div>
			<div class="content">
				<div class="wrapper">
					<h1><span class="highlight">IT</span> is a wonderful tech jungle. Let's dive deep into it!</h1>
					<p>{{ config.site_description }} What do you want to start with?</p>
					<a href="/blog" title="Check the blog!" class="md-button md-button--primary" data-md-color-primary="amber">
						I love IT too!
					</a>
					<a href="/about" title="If you want to work with me, it's this way :)" class="md-button" data-md-color-primary="amber">
						Who are you?
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block content %}{{ super() }}{% endblock %}
{% block footer %}{{ super() }}{% endblock %}