{% extends "main.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="assets/css/home.css">
{% endblock %}
{% block tabs %}
{{ super() }}
<section class="container">
	<div class="md-grid md-typeset">
		<div class="home">
			<div class="image">
				<img src="assets/images/illustration.jpg" draggable="false">
				<div class="shadow-overlap"></div>
			</div>
			<div class="content">
				<h1><span class="highlight">IT</span> is a wonderful sea</h1>
				<p>{{ config.site_description }}. Set up in 5 minutes.</p>
				<a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
					Get started
				</a>
				<a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
					Go to GitHub
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}