{% extends "base.html" %}

{% block extrahead %}
<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="RSS feed of created content" href="{{ config.site_url }}feed_rss_created.xml">
<link rel="alternate" type="application/rss+xml" title="RSS feed of updated content" href="{{ config.site_url }}feed_rss_updated.xml">

{% if page.meta and page.meta.css %}
{% for link in page.meta.css %}
<link rel="stylesheet" href="{{ link }}">
{% endfor %}
{% endif %}

{% endblock %}

{% block announce %}
👋 I'm really excited to announce that I just opened a
<a class="md-button md-button--primary" data-md-color-primary="amber" href="https://www.youtube.com/@IT-Journey" target="_blank" rel="noreferrer noopener" title="Contact me!">
	YouTube channel!
</a>
{% endblock %}