<footer class="md-footer">
	{% if "navigation.footer" in features %}
	{% if page.previous_page or page.next_page %}
	{% if page.meta and page.meta.hide %}
	{% set hidden = "hidden" if "footer" in page.meta.hide %}
	{% endif %}
	<nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer') }}" {{ hidden }}>
		{% if page.previous_page %}
		{% set direction = lang.t("footer.previous") %}
		<a href="{{ page.previous_page.url | url }}" class="md-footer__link md-footer__link--prev" aria-label="{{ direction }}: {{ page.previous_page.title | e }}" rel="prev">
			<div class="md-footer__button md-icon">
				{% include ".icons/material/arrow-left.svg" %}
			</div>
			<div class="md-footer__title">
				<div class="md-ellipsis">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
					{{ page.previous_page.title }}
				</div>
			</div>
		</a>
		{% endif %}
		{% if page.next_page %}
		{% set direction = lang.t("footer.next") %}
		<a href="{{ page.next_page.url | url }}" class="md-footer__link md-footer__link--next" aria-label="{{ direction }}: {{ page.next_page.title | e }}" rel="next">
			<div class="md-footer__title">
				<div class="md-ellipsis">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
					{{ page.next_page.title }}
				</div>
			</div>
			<div class="md-footer__button md-icon">
				{% include ".icons/material/arrow-right.svg" %}
			</div>
		</a>
		{% endif %}
	</nav>
	<div class="md-typeset md-grid" {{ hidden }}>
		<hr>
	</div>
	{% endif %}
	<div class="md-footer-custom md-typeset">
		<div class="md-footer-custom__inner md-grid">
			<div class="md-foot-custom-col">
				<a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}" data-md-component="logo">
					{% include "partials/logo.html" %}
				</a>
				<div class="col-wrapper">
					<h5>IT Journey</h5>
					<menu>
						<li><a href="/">Home</a></li>
						<li><a href="/blog">Blog</a></li>
					</menu>
				</div>
			</div>
			<div class="md-foot-custom-col">
				<h5>About</h5>
				<menu>
					<li><a href="/abaout/skill-set">Skill set</a></li>
					<li><a href="/about/roadmap">Certifications roadmap</a></li>
					<li><a href="/about/history">History</a></li>
				</menu>
			</div>
			<div class="md-foot-custom-col">
				<h5>Useful links</h5>
				<menu>
					<li><a href="/terms-and-conditions/#article-9-confidentiality">Privacy policy</a></li>
					<li><a href="/terms-and-conditions">Terms and conditions</a></li>
				</menu>
			</div>
			<div class="md-foot-custom-col buttons">
				<a class="md-button md-button--primary" href="/about#contact">
					<span class="md-icon">{% include ".icons/material/email.svg" %}</span>
					<span>Contact me</span>
				</a>
				<a class="md-button md-button--primary" href="{{ config.site_url }}feed_rss_created.xml">
					<span class="md-icon">{% include ".icons/material/rss.svg" %}</span>
					<span>RSS Feeds</span>
				</a>
			</div>
		</div>
	</div>

	{% endif %}
	<div class="md-footer-meta md-typeset">
		<div class="md-footer-meta__inner md-grid">
			{% include "partials/copyright.html" %}
			{% if config.extra.social %}
			{% include "partials/social.html" %}
			{% endif %}
		</div>
	</div>
</footer>