.md-header{
	background-color: transparent;
	color: white;
}
.md-header svg *{
	fill: white;
}
.md-header input::placeholder{
	color: rgba(255,255,255,0.5);
}
.md-header--shadow{
	box-shadow: none;
}
.home{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.container{
	height: calc(120vh - 2.4rem - 2.4rem);
	box-sizing: border-box;
}

.container > *{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.md-tabs{
	background-color: transparent;
	color: white;
}
.md-tabs__link{
	font-size: 1rem;
}

.container .md-grid.md-typeset{
	max-height: 120vh;
	max-width: 100%;
}

.container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 120vh;
}

.container .image img{
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	display: block;
	max-width: initial;
}

.shadow-overlap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 100px 350px 250px rgba(0,0,0,0.7);
}

.container .content{
	position: sticky;
	bottom: 50px;
	left: 50px;
	margin: 0 auto 50px auto;
	display:flex;
	width: 100%;
	max-width: 61rem;
}
.container .content .wrapper{
	display: inline-block;
	font-size: 1rem;
	max-width: 600px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(8px);
}

.container .content .wrapper .md-button{
	margin-top: 0.6rem;
}

.container .content h1{
	font-weight: bold;
	margin-bottom: 30px;
}

.container .content h1,
.container .content p{
	color: white;
}

.md-typeset .skills-overview ul{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	list-style-type: none;
	margin: 0;
}

.md-typeset .skills-overview ul li{
	margin:0;
}

.md-source-file{
	display:none;
}

@media (max-height: 600px){
	.container{
		height: 500px;
	}
	.container .image{
		height: 600px;
	}

	.container .md-grid.md-typeset{
		max-height: 600px;
		padding-top: 48px;
	}

	.container .content{
		position: initial;
		left: initial;
		bottom: initial;
	}
}

@media (max-width: 1250px){
	.md-typeset h1{
		padding-top: 0.8rem;
	}
}

@media (max-width: 1000px){
	.shadow-overlap{
		box-shadow: inset 0 100px 150px 150px rgba(0,0,0,0.7);
	}

	.md-typeset .skills-overview ul{
		grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
	}
}

@media (max-width: 700px){
	.shadow-overlap{
		box-shadow: none;
	}
}

@media (max-width: 500px){
	.container{
		height: 700px;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.container .image{
		height: 800px;
	}

	.container .md-grid.md-typeset{
		position: initial;
	}
	.md-main__inner{
		margin-top: 0;
	}
}